/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nextflow config file for a 3 Node Home-Cluster for the SLURM login node
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Author: Niklas Fomin
Mail: niklas.fomin@campus.tu-berlin.de 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    maxRetries = 3
    executor = 'slurm'
    queue = 'test'
    cpus = 2
    memory = '4 GB'
    time = '2h'
}


/*
singularity {
    enabled = true
    autoMount = true
    cacheDir   = "/mnt/shared/nf-core/singularity_cache"
}
*/

docker {
    enabled = true
}

executor {
    name = 'slurm'
    queueSize = 100
    perCpuMemAllocation = true
}

cleanup = true

profiles {
    debug {
        cleanup = false
    }
}
